<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      自分のショップを立ち上げよう
    </h2>
    <p class='service-explain'>
      誰でもお店のオーナーになれます
    </p>
    <p class='service-explain'>
      そしてお気に入りのお店を見つけましょう
    </p>
  </div>

  <div class='item-contents'>
    <h2 class='title'>オリジナルアイテム</h2>
    <%= link_to '新規投稿商品', new_original_item_path, class: "subtitle" %>
    <ul class='item-lists'>
      <% @original_items.where(state_id: 2).each do |original_item|%>
       <li class='list'>
          <%= link_to original_item_path(original_item.id) do %>
          <div class='item-img-content'>
            <%= image_tag original_item.image, class: "item-img" %>

            <% if original_item.buy.present? %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
            <% end %>
         </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= original_item.name %>
            </h3>
            <div class='item-price'>
              <span><%= original_item.price %>円<br><%= original_item.delivery_style.name %></span>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='item-contents'>
    <h2 class='title'>セレクトアイテム（新品）</h2>
    <%= link_to '新規投稿商品', new_original_item_path, class: "subtitle" %>
    <ul class='item-lists'>
      <% @original_items.where(state_id: 3).each do |original_item|%>
       <li class='list'>
          <%= link_to original_item_path(original_item.id) do %>
          <div class='item-img-content'>
            <%= image_tag original_item.image, class: "item-img" %>

            <% if original_item.buy.present? %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
            <% end %>
         </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= original_item.name %>
            </h3>
            <div class='item-price'>
              <span><%= original_item.price %>円<br><%= original_item.delivery_style.name %></span>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='item-contents'>
    <h2 class='title'>セレクトアイテム（中古品）</h2>
    <%= link_to '新規投稿商品', new_original_item_path, class: "subtitle" %>
    <ul class='item-lists'>
      <% @original_items.where(state_id: 4).each do |original_item|%>
       <li class='list'>
          <%= link_to original_item_path(original_item.id) do %>
          <div class='item-img-content'>
            <%= image_tag original_item.image, class: "item-img" %>

            <% if original_item.buy.present? %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
            <% end %>
         </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= original_item.name %>
            </h3>
            <div class='item-price'>
              <span><%= original_item.price %>円<br><%= original_item.delivery_style.name %></span>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to(new_original_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
<% end %>
<%= render "shared/footer" %>