<% breadcrumb :search %>
<%= render "shared/header" %>
<div class='main'>

  <div class='item-contents'>
    <h2 class='title'>検索結果</h2>
    <%= link_to '新規投稿商品', new_original_item_path, class: "subtitle" %>
    <ul class='item-lists'>
      <% @original_items.each do |original_item|%>
       <li class='list'>
          <%= link_to original_item_path(original_item.id) do %>
          <div class='item-img-content'>
            <%= image_tag original_item.image, class: "item-img" %>

            <% if original_item.buy.present? %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
            <% end %>
         </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= original_item.name %>
            </h3>
            <div class='item-price'>
              <span><%= original_item.price %>円<br><%= original_item.delivery_style.name %></span>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>