<% breadcrumb :show %>
<%= render "shared/header" %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @original_item.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @original_item.image,class:"item-box-img" %>
      <% if @original_item.buy.present?%>
        <div class="sold-out">
          <span>Sold Out!!</span>
        </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @original_item.price%>円
      </span>
      <span class="item-postage">
        <%= @original_item.delivery_style.name %>
      </span>
    </div>

    <% if user_signed_in? && @original_item.buy.nil? %>
      <% if current_user.id == @original_item.user_id %>
        <%= link_to "商品の編集", edit_original_item_path, method: :get, class: "item-brack-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", original_item_path, method: :delete, class:"item-destroy" %>
      <% else %>
          <%= link_to "購入画面に進む", original_item_buys_path(@original_item.id), class:"item-brack-btn"%>
      <% end %>
    <% end%>

    <div class="item-explain-box">
      <span><%= safe_join(@original_item.description.split("\n"),tag(:br)) %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">取り扱いショップ</th>
            <td class="detail-value">
              <a href="/users/<%= @original_item.user.id %>">
                <%= @original_item.user.shop_name %>
              </a>
            </td>
        </tr>
        <tr>
          <th class="detail-item">商品形態</th>
          <td class="detail-value"><%= @original_item.state.name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー1</th>
          <td class="detail-value"><%= @original_item.category1.name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー2</th>
          <td class="detail-value"><%= @original_item.category2.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @original_item.size.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @original_item.delivery_style.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @original_item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @original_item.delivery_day.name %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="star-contents">
    <div class="star-entry">
      <% if user_signed_in? %>
        <% if current_user.already_liked?(@original_item) %>
          <%= button_to 'お気に入りを取り消す', original_item_like_path(@original_item), method: :delete, class:"star-btn" %>
        <% else %>
          <%= button_to 'お気に入り登録', original_item_likes_path(@original_item), class:"star-btn" %>
        <% end %>
      <% end %>
        <div class="star-amount">
          ★ <%= @original_item.likes.count %>件
        </div>
    </div>
    <div class="star-user-contents">
      <div class="star-user-title">
        お気に入りしたユーザー
      </div>
      <div class="star-user">
        <% @original_item.liked_users.each do |user| %>
        <a href="/users/<%= user.id %>">
          ・<%= user.nickname %>&nbsp;
        </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="comment-box">
    <div class="comments-title">
      <h4>コメントリスト</h4>
    </div>
      <% @comments.each do |comment| %>
        <ul class="comment-list">
          <li class="comment-user">
            <%= image_tag comment.user.image, class: "user-img" %>
            <%= link_to comment.user.nickname, "/users/#{comment.user_id}", class:"user-name" %>
          </li>
          <li class="comment"><%= comment.text %></li>
        </ul>
      <% end %>
    <% if user_signed_in? %>
      <%= form_with(model: [@original_item, @comment], local: true) do |f| %>
        <%= f.text_area :text, placeholder: "コメントする", rows: "2", class:"comment-text" %>
        <%= f.submit "コメントする", class: "comment-btn"%>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
</div>
